.galeriadecoto{
    display:grid;    
    grid-template-columns:  60% 40%;
    justify-items: center;
    text-align: center;
    height: 100vh;
   
    .galeriadeco{
        margin-top: 150px;
        padding-left: 20px;
        display:grid;
        grid-template-rows: repeat(2, 200px);
        grid-template-columns: repeat(3, 200px);
        img{
            width: 100%;
            height: 100%;
            }
            }
            .cabeceradeco{
               
                             
                height: 100vh;
                display:flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
              margin-bottom: 300px;
              padding-bottom: 50px
                
           }
        }
    
